{{ $lat := .Get "lat" }}
{{ $lon := .Get "lon" }}
{{ $zoom := .Get "zoom" | default "12" }}
{{ $label := .Get "label" | default "" }}
{{ $id := printf "map-%s" (substr (md5 (printf "%s%s%s" $lat $lon .Ordinal)) 0 8) }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>

<div id="{{ $id }}" class="my-6 h-80 w-full rounded-lg overflow-hidden" style="height: 20rem;"></div>
<script>
(function () {
  var el = document.getElementById("{{ $id }}");
  var map = L.map(el).setView([{{ $lat }}, {{ $lon }}], {{ $zoom }});
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  L.marker([{{ $lat }}, {{ $lon }}]).addTo(map){{ if $label }}.bindPopup("{{ $label }}"){{ end }};
})();
</script>
